.qr-code-container {
  transform: none;
  position: absolute;
  z-index: 3;

  /* 1600px ekranda olur top 260px ekran olcusu her 100px azalanda top 15px artmalidir.
 bu emsal bele tapilir 15/100=0.15 bu axirinci reqemdir emsal addimi gosterir */
  /* top: calc(260px + ((1600px - 100vw) * 0.15)); */

  left: calc(565px - ((1600px - 100vw) * 0.35));
  top: calc(
    220px + ((1600px - 100vw) * 0.15) + ((100vh - 1000px) * 0.5)
  );
  max-width: 149px;

  border-radius: 16px;
  background: #077133;
  padding: clamp(2px, calc(4 / 1600 * 100vw), 4px)
    clamp(2px, calc(4 / 1600 * 100vw), 4px)
    clamp(6px, calc(12 / 1600 * 100vw), 12px)
    clamp(2px, calc(4 / 1600 * 100vw), 4px);
  transform: rotate(-15deg);
}

.qr-code-img-container {
  background: #fff;
  border-radius: 12px 12px 4px 4px;
  /* padding:  clamp(6px, calc(12 / 1600 * 100vw), 12px); */
}
.qr-code-img-container img {
  transform: rotate(15deg);
  width: clamp(60px, calc(104 / 1600 * 100vw), 104px);
  height: auto;
}
.qr-code-text {
  font-family: "Osvald", sans-serif;
  font-size: clamp(8px, calc(12 / 1600 * 100vw), 12px);
  font-style: normal;
  font-weight: 400;
  background: radial-gradient(
    39.61% 111.74% at 37.11% 26.56%,
    #59e700 0%,
    #fff 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  line-height: calc(16 / 12); /* 133.333% */
  text-transform: none;
  color: #ffffff;
  text-align: center;
  /* padding: 0 4px 0 4px; */
  padding-top: clamp(4px, calc(8 / 1600 * 100vw), 7px);
}
