
.container {
  /* width: 100%;
  max-width: 1480px;    */
  /* margin: 0 auto;
  padding-left: clamp(16px, 3.5vw, 40px);
  padding-right: clamp(16px, 3.5vw, 40px); */
  /* padding-inline: clamp(20px, 3.8vw, 32px); */
  margin: 0 40px 0 40px;

}